body {
  font-family: sans-serif;
  background-image: url(wpp3.jpg);
  background-repeat: no-repeat;
  height: 100vh;
  overflow: hidden;
  background-size: cover;
}

h1 {
  text-align: center;
  color: white;
  letter-spacing: 5px;
  margin: 30px;
}

input[type="text"] {
  padding: 10px;
  width: 71%;
  align-items: center;
  margin-left: 100px;
  outline: none;
}
button {
  padding: 10px;
  margin-left: 50px;
  border-radius: 5px;
  border: none;
  background-color: #3d467d;
  color: white;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: rgb(243, 237, 237);
  margin: 15px 0;
  padding: 7px 15px;
  width: 70%;
  border-radius: 5px;
  margin-left: 100px;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.done {
  text-decoration: line-through;
  color: rgb(61, 70, 125);
}

.task-text {
  margin-left: 10px;
}

.delete-btn {
  background-color: rgb(61, 70, 125);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}